
body
{
    margin: 0;
    color:#bbb;
    background-color:#171818;
}

header
{
    text-align: center;
    background-color: black;
}

footer
{
    text-align: center;
    background-color: black;
    padding-bottom: 60px;
}
footer .space
{
    padding-top: 17px;
}
footer ul
{
    list-style-type: none;
    padding-left: 0;
}
footer .ref-links
{
    a:link 
    {
        color: #bbb;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited
    {
        color: #bbb;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover 
    {
        color: white;
        background-color: transparent;
        text-decoration: underline;
    }
}

.page-content
{
    margin: auto;
    width: 65%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.scroll-arrow {
    position: fixed;
    left: 95%;
    bottom: 40px;
	background-color:  #bbb;
	text-align: left;
    align-self: center;
}
.scroll-arrow:hover {
    position: fixed;
    left: 95%;
    bottom: 40px;
	background-color:  white;
	text-align: left;
    align-self: center;
}
.scroll-arrow:before,
.scroll-arrow:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.scroll-arrow,
.scroll-arrow:before,
.scroll-arrow:after {
	width:  1.5em;
	height: 1.5em;
	border-top-right-radius: 30%;
}

.scroll-arrow {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.scroll-arrow:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.scroll-arrow:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

h1 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    color: rgb(196, 196, 196);
}
h2 {
    color: rgb(196, 196, 196);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    li
    {
        display: inline-block;
        border-bottom: 1px solid #bbb;
        a
        {
            display: block;
            color: #bbb;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        a:hover:not(.active) 
        {
            background-color: #111;
            
        }
    }
} 

.btn-outline {
    display: inline-flex;
    padding: 10px 18px;
    border: 2px solid #262c31;
    background-color: #111;
    color: #cacdcf;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: 1000;
    transition: all 0.3s;
    img {
        width: 20px;
        height: 20px;
    }
}
.btn-outline:hover {
    background: #646e77;
    color: white;
}

.subtitle {
  color: rgb(209, 210, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
  border: 2px solid #262c31;
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  font-family: Arial, sans-serif;
}

.video-card {
  border: 2px solid #262c31;
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.link-row 
{
  display: flex;
  gap: 6px;
}

.code-link 
{
font-family: monospace;
background: #eee;
border-radius: 4px;
padding: 2px 5px;
margin-left: 4px;
text-decoration: none;
}
.code-link:hover 
{
background: #ccc;
}

.icons
{
    list-style-type: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-left: 0;
}
.icons li img
{
    width: 25px;
    height: 25px;
}

.grid-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    align-content: center;
    gap: 1em;
}
.grid-item
{
    border: 2px solid black;
    border-radius: 4px;
    display: grid;
    height: 250px;
    columns: 1;
    grid-template-rows: 225px 25px;
    text-align: center;
}
.grid-item:hover
{
    border: 2px solid white;
    border-radius: 4px;
    display: grid;
    height: 250px;
    columns: 1;
    grid-template-rows: 225px 25px;
    text-align: center;
}
.grid-item .title
{
    color:#bbb;
    background-color:  black;
}
.grid-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.tags
{
    color: #bbb;
    background-color:black;
}