
.main
{
    margin: auto;
    width: 65%;
}

h1
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}

.dcenter
{
    text-align: center;
    border: 1px solid green;
}

.dnav
{
    border: 1px solid red;
}

.dnav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li
    {
        display: inline-block;
        border-bottom: 1px solid #bbb;
        a
        {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        a:hover:not(.active) 
        {
            background-color: #111;
            
        }
        .active 
        {
            background-color: #04AA6D;
        }
    }
} 

.grid-container
{
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    align-content: center;
    gap: 1em;
}
.grid-item
{
    border: 1px solid red;
    display: grid;
    height: 250px;
    columns: 1;
    grid-template-rows: 225px 25px;
    text-align: center;
}
.grid-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}